@font-face {
	font-family: Inconsolata;
	src(Inconsolata.ttf);
}

body {
	background : black;
	overflow: hidden;

	font-family: Inconsolata;

	color: white;
}

input {
	background: black;
	color: white;
	border: none;
}

input:focus {
	outline: none;
}

#commandInput {
	min-width: 90%;
}
