body {
	background-color: #24273a;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: white;
}

#titleHeader {
	text-align: center;
	font-size: 80px;
	margin-top: 30px;
}
